:root{
            --notifacation-background-color:var(--color-1);
            --notifacation-message-color:var(--color-2);
            --notifacation-close-color:var(--color-2);
            --notifacation-error-message-color:var(--color-3);
            --notifacation-error-icon-color:var(--color-3);
            --notifacation-success-message-color:var(--color-4);
            --notifacation-success-icon-color:var(--color-4);
            --notifacation-warning-message-color:var(--color-5);
            --notifacation-warning-icon-color:var(--color-5);
            --notifacation-info-message-color:var(--color-6);
            --notifacation-info-icon-color:var(--color-6);
            --app-head-background-color:var(--color-7);
            --app-head-logo-text-background-image:var(--image-1);
            --app-head-nav-color:var(--color-8);
            --app-head-nav-active-color:var(--color-9);
            --app-head-nav-border-color:var(--color-10);
            --app-head-nav2-background-color:var(--color-1);
            --app-background-color:var(--color-11);
            --app-color:var(--color-12);
            --button-background:var(--color-15);
            --button-color:var(--color-13);
            --button-border-color:var(--color-14);
            --button-hover-background:var(--color-16);
            --button-hover-color:var(--color-13);
            --button-hover-border-color:var(--color-14);
            --button-primary-background:var(--color-11);
            --table-body-color:var(--color-8);
            --table-body-background:var(--color-17);
            --table-body-TrTd-border-color:var(--color-11);
            --table-body-TrTd-hover-background:var(--color-18);
            --table-head-TrTh-color:var(--color-8);
            --table-head-TrTh-background:var(--color-16);
            --table-head-TrTh-border-color:var(--color-11);
            --table-pagenation-color:var(--color-8);
            --table-pagenation-border-color:var(--color-11);
            --table-pagenation-hover-color:var(--color-19);
            --table-pagenation-hover-border-color:var(--color-11);
            --table-pagenation-disabled-color:var(--color-11);
            --table-pagenation-disabled-border-color:var(--color-11);
            --table-pagenation-prev-background-color:var(--color-18);
            --table-pagenation-next-background-color:var(--color-18);
            --table-pagenation-item-background-color:var(--color-18);
            --table-pagenation-item-border:var(--color-11);
            --table-pagenation-item-color:var(--color-8);
            --table-pagenation-item-hover-border:var(--color-11);
            --table-pagenation-item-hover-color:var(--color-19);
            --table-pagenation-item-active-background:var(--color-18);
            --table-pagenation-item-active-border-color:var(--color-11);
            --table-pagenation-item-active-color:var(--color-19);
            --input-background:var(--color-17);
            --input-color:var(--color-8);
            --input-border:var(--color-18);
            --input-focus-border-color:var(--color-11);
            --input-focus-box-shadow:var(--color-20);
            --input-hover-background-color:var(--color-18);
            --app-body-title-color:var(--color-9);
            --form-color:var(--color-12);
            --tabs-color:var(--color-12);
            --tabs-tab-active-color:var(--color-9);
            --tabs-link-bar-background:var(--color-9);
            --tabs-content-color:var(--color-12);
            --tabs-top-border-color:var(--color-21);
            --tabs-tab-hover-color:var(--color-9);
            --tabs-tab-focus-color:var(--color-9);
            --scrollbar-thumb-background:var(--color-20);
            --scrollbar-track-background:var(--color-17);
            --app-searchTable-splitLine-color:var(--color-12);
            --table-tbody-placeholder-hover-background-color:var(--color-16);
            --modal-color:var(--color-12);
            --modal-content-background-color:var(--color-17);
            --modal-close-color:var(--color-12);
            --modal-head-background:var(--color-16);
            --modal-head-color:var(--color-12);
            --modal-title-color:var(--color-12);
}