:root{
            --notifacation-background-color:var(--color-1);
            --notifacation-message-color:var(--color-2);
            --notifacation-close-color:var(--color-2);
            --notifacation-error-message-color:var(--color-3);
            --notifacation-error-icon-color:var(--color-3);
            --notifacation-success-message-color:var(--color-4);
            --notifacation-success-icon-color:var(--color-4);
            --notifacation-warning-message-color:var(--color-5);
            --notifacation-warning-icon-color:var(--color-5);
            --notifacation-info-message-color:var(--color-6);
            --notifacation-info-icon-color:var(--color-6);
            --app-head-background-color:var(--color-7);
            --app-head-logo-text-background-image:var(--image-1);
            --app-head-nav-color:var(--color-8);
            --app-head-nav-active-color:var(--color-9);
            --app-head-nav-border-color:var(--color-10);
            --app-head-nav2-background-color:var(--color-1);
}